urllib3=1.25.4
gevent=1.3
scikit-learn0.20.2
typing-extensions=4.6.0
packaging=20.0
Flask
Flask-Admin
Flask-Migrate
Flask-Script
Flask-SQLAlchemy
gevent
numpy
rasa-nlu
requests
spacy
scikit-learn
sklearn_crfsuite
